main {
	/* background: url('../gallery/watermark.webp') no-repeat center; */
	background-size: cover;
}

#contact--heading h2 {
	font-size: 2.5rem;
}

#section--1 {
	max-width: 1200px;
}

.background--cover {
	background: url(../gallery/pages/contact.webp) no-repeat center;
	height: 40vh;
}

.contact-icon {
	color: var(--violet);
}

.contact--aside {
	width: 25rem;
	height: 35.8rem;
	background: var(--dark-blue);
	color: var(--white);
	border-radius: 2px;
	box-shadow: 0 0 2px rgb(0, 0, 0);
}

.contact--info,
.contact--phone {
	border-bottom: 1px solid var(--violet);
}

.email--input,
.subject--input {
	width: 24.5rem;
}

.footer {
	color: var(--white);
	background: url('../gallery/pages/contact-footer.webp') no-repeat center;
	background-size: cover;
}

/*  *Media Queries */

@media screen and (max-width: 1440px) {
	.form {
		padding-right: 2rem;
	}
}

@media screen and (max-width: 1024px) {
	.contact--container {
		padding-left: 2.5rem !important;
	}

	.full--name-input {
		width: 30rem;
	}

	.message--textarea {
		width: 30rem;
	}

	.email--input,
	.subject--input {
		width: 14.5rem;
	}
}

@media screen and (max-width: 768px) {
	.btn--translate {
		display: none;
	}

	.contact--aside {
		height: 42.8rem;
	}

	.contact--container {
		padding-left: 2.5rem !important;
	}

	.form {
		padding-right: 2rem;
	}

	.full--name-input,
	.email--input,
	.subject--input,
	.message--textarea {
		width: 20rem;
	}

	.email-input {
		padding-bottom: 1rem;
	}

	.email-subject--container {
		flex-direction: column;
	}

	.subject-input {
		padding: 0 !important;
	}
}

@media screen and (max-width: 425px) {
	main {
		padding: 0 !important;
	}
	.contact--container {
		flex-direction: column-reverse;
		padding: 0 !important;
		align-items: center !important;
	}

	.form {
		padding: 3rem 0 !important;
	}

	.contact--aside {
		width: 100%;
	}
}

@media screen and (max-width: 375px) {
	#contact--heading h2 {
		text-align: center;
	}
	.email-input {
		padding-right: 0 !important;
	}

	.full--name-input,
	.email--input,
	.subject--input,
	.message--textarea {
		width: 100%;
	}

	.message--textarea {
		height: 15rem;
	}
}
