#section--1 {
	height: 90vh;
	padding: 10rem;
}

.page--heading {
	text-align: center;
	font-size: 2.4rem;
	margin-top: -3rem;
}

.background--cover {
	height: 40vh;
	background: url('../gallery/pages-cover.png') no-repeat center;
	background-size: cover;
}

.border--list {
	border-top: 3px solid var(--white);
	border-bottom: 3px solid var(--white);
}

.border--list-top {
	border-top: 3px solid var(--white);
}

.main--container {
	width: 100%;
}

aside {
	width: 15rem;
}

.aside--container {
	width: calc(100% / 4);
}

.main--content {
	width: 100%;
}

aside ul {
	border-left: 3px solid rgb(23, 55, 79);
}

aside ul li {
	display: block;
	position: relative;
	/* border: 1px solid rgb(23, 55, 79); */
	color: rgb(23, 55, 79);
	/* box-shadow: 1px 1px 3px grey; */
	font-size: 1.2em;
	cursor: pointer;
	background-color: var(--white);
	animation-fill-mode: both;
	height: 3.5rem;
	width: 100%;
}
aside ul li:hover {
	box-shadow: 2px 2px 3px grey;
	background-color: rgb(23, 55, 79);
	color: var(--white);
	animation: width-animation 0.4s ease forwards;
}

aside ul li a {
	color: rgb(23, 55, 79);
	padding: 1rem;
}

aside ul li:hover a {
	color: var(--white);
}

.sub--p {
	font-size: 1.3rem;
	text-align: left;
}

.active--sub {
	color: var(--white);
	background-color: rgb(23, 55, 79);
}

.catch--bottom {
	background: url('../gallery/catch-cover.png') no-repeat center;
	background-size: cover;
	height: 25vh;
	text-align: center;
	font-size: 1.5rem;
	color: var(--white);
}

.section--cover {
	background: url('../gallery/watermark.png') no-repeat center;
	background-size: cover;
}

@keyframes width-animation {
	0% {
		width: 100%;
	}
	100% {
		width: 110%;
	}
}
