#section--1 {
	max-width: 1200px;
}

.page--heading {
	text-align: center;
	font-size: 2.4rem;
	margin-top: -3rem;
}

.background--cover {
	height: 40vh;
	background: url('../gallery/pages-cover.webp') no-repeat center;
	background-size: cover;
}

.border--list {
	border-top: 3px solid var(--white);
	border-bottom: 3px solid var(--white);
}

.border--list-top {
	border-top: 3px solid var(--white);
}

aside {
	width: 15rem;
}

.aside--container {
	width: calc(100% / 4);
}

.main--content {
	width: 100%;
}

aside ul {
	border-left: 3px solid rgb(23, 55, 79);
}

aside ul li {
	display: block;
	position: relative;
	/* border: 1px solid rgb(23, 55, 79); */
	color: rgb(23, 55, 79);
	/* box-shadow: 1px 1px 3px grey; */
	font-size: 1.2em;
	cursor: pointer;
	background-color: rgb(235,247,255);
	animation-fill-mode: both;
	height: 3.5rem;
	width: 100%;
}
aside ul li:hover {
	box-shadow: 2px 2px 3px grey;
	background-color: rgb(23, 55, 79);
	color: var(--white);
	animation: width-animation 0.4s ease forwards;
}

aside ul li a {
	color: rgb(23, 55, 79);
	padding: 1rem;
}

aside ul li:hover a {
	color: var(--white);
}

.img {
	width: 25rem;
	height: auto;
}

.sub--p {
	font-size: 1.3rem;
	text-align: left;
}

.active--sub {
	background-color: rgb(23, 55, 79);
}

.active--sub a {
	color: var(--white);
}

.articles:nth-child(3) {
	margin-top: 2rem;
}

.catch--bottom {
	background: url('../gallery/catch-cover.webp') no-repeat center;
	background-size: cover;
	height: 25vh;
	text-align: center;
	font-size: 1.5rem;
	color: var(--white);
}

.section--cover {
	/* background: url('../gallery/watermark.png') no-repeat center; */
	background-size: cover;
}

.footer {
	color: var(--white);
	background: url('../gallery/pages/about-footer.webp') no-repeat center;
	background-size: cover;
}

@keyframes width-animation {
	0% {
		width: 100%;
	}
	100% {
		width: 110%;
	}
}

@media screen and (max-width: 1024px) {
	.main--container {
		padding: 2rem;
	}

	.img {
		width: 20rem;
		height: 20rem;
	}
}

@media screen and (max-width: 768px) {
	.btn--translate {
		display: none !important;
	}

	.main--container {
		flex-direction: column-reverse;
	}

	.aside--container,
	.aside--container aside {
		width: 100%;
	}

	.main--content {
		padding-bottom: 5rem;
	}

	.articles > * {
		margin: 2rem 0 !important;
	}

	.img--1 {
		padding-left: 2rem;
	}

	.img--2 {
		padding-right: 2rem;
	}
}

@media screen and (max-width: 425px) {
	.main--container {
		padding: 0 !important;
	}

	.img {
		padding: 0 !important;
	}

	.main--content {
		padding: 0 1rem !important;
	}

	.articles {
		flex-direction: column-reverse;
		justify-content: center !important;
		align-items: center !important;
	}
}
