#section--1 {
	max-width: 1200px;
}

.background--cover {
	position: relative;
	height: 40vh;
	background: url('../gallery/pages/testimonials.png') no-repeat bottom;
	background-size: cover;
}

.carousel--testimonials {
	width: calc(100% / 2);
}

.carousel--profile {
	border-radius: 50%;
}

.footer--links {
	width: 100%;
}

.footer {
	color: var(--white);
	background: url('../gallery/pages/testimonials-footer.png') no-repeat center;
	background-size: cover;
}

/*  Media Queries */

@media only screen and (max-width: 1440px) {
	.top--nav div:nth-child(2) {
		margin-right: 5rem;
	}

	.main--nav {
		padding-top: 1rem;
	}
}
@media only screen and (max-width: 1024px) {
	.testimonials {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 0 !important;
	}

	.carousel--testimonials {
		width: 80%;
		padding: 2rem 0;
	}

	.top--nav {
		padding: 0.2rem 1rem;
		justify-content: flex-start !important;
	}

	.main--nav,
	.sticky--container {
		padding: 1rem;
		justify-content: space-around !important;
	}

	.list--nav-top-left {
		padding-left: 1rem !important;
	}

	.list--nav-top-text {
		padding-left: 3rem;
	}

	.copyright {
		padding: 1rem;
	}
}

@media only screen and (max-width: 768px) {
	.top--nav {
		align-items: flex-start !important;
	}

	.list--contact {
		flex-direction: column;
		flex-wrap: wrap;
	}

	.list--nav-top-text {
		padding: 0;
	}

	.list--nav-top-left {
		padding: 0 !important;
	}

	.list--social {
		padding-top: 1rem;
	}

	.main--nav {
		justify-content: flex-start !important;
	}

	.navbar {
		display: none !important;
	}

	.hamburger {
		position: absolute;
		top: 1rem;
		right: 1rem;
		cursor: pointer;
		z-index: 100;
	}

	.line {
		width: 3rem;
		height: 0.4rem;
		background: var(--white);
		margin: 0.5rem;
	}

	.sticky--logo {
		display: none;
	}

	.sticky--nav {
		display: flex !important;
		justify-content: center !important;
		visibility: visible !important;
		opacity: 1 !important;
		transform: translateY(0) !important;
		padding: 0.5rem 1rem !important;
		height: 100% !important;
		clip-path: circle(0px at 90% -10%) !important;
		-webkit-clip-path: circle(0px at 90% -10%) !important;
		transition: all 0.5s ease-out !important;
		z-index: 2 !important;
	}

	.sticky--navbar {
		height: 100% !important;
		clip-path: circle(0px at 90% -10%) !important;
		-webkit-clip-path: circle(0px at 90% -10%) !important;
		transition: all 0.5s ease-out !important;
		z-index: 2 !important;
	}

	.sticky--navbar.open,
	.sticky--nav.open {
		clip-path: circle(200% at 90% -10%) !important;
		-webkit-clip-path: circle(200% at 90% -10%) !important;
	}

	.sticky--nav div {
		width: 100% !important;
	}

	.sticky--navbar {
		display: flex !important;
		flex-direction: column !important;
	}

	.sticky--navbar li {
		padding: 1rem 0 !important;
		text-align: center !important;
	}

	.footer--links {
		justify-content: space-between !important;
	}
}

@media only screen and (max-width: 425px) {
	.top--nav {
		height: 2.5rem;
		justify-content: flex-start !important;
		align-items: center !important;
	}
	.list--contact {
		display: none !important;
	}

	.list--social {
		padding: 0 !important;
	}

	#logo {
		width: 7rem !important;
	}

	.footer--contact {
		flex-direction: column;
		margin: 1rem !important;
	}

	.footer--contact div {
		border: none;
	}

	.footer-lists {
		display: flex !important;
		flex-direction: column-reverse !important;
		padding: 2rem !important;
	}

	.footer--brand {
		padding-top: 2rem;
		align-items: center !important;
	}

	.social--networks a:nth-child(1) i {
		padding: 0;
	}

	.footer--links {
		flex-wrap: wrap;
	}

	.copyright {
		flex-wrap: wrap;
		justify-content: center !important;
		text-align: center !important;
	}

	.copyright > * {
		padding: 0.5rem;
	}
}

@media only screen and (max-width: 375px) {
	.carousel--testimonials {
		flex-direction: column;
		text-align: center;
	}
	.carousel--testimonials > * {
		padding: 0 !important;
	}
}

@media only screen and (max-width: 320px) {
	.sticky--container {
		padding-top: 8rem;
	}

	.top--nav {
		padding-left: 0.5rem;
		height: 4rem;
		align-items: flex-start !important;
	}

	.btn--translate {
		top: unset !important;
	}

	.list--social {
		align-items: unset !important;
		justify-content: unset !important;
	}

	.list--social li a i {
		padding-left: 1.2rem;
	}

	.list--nav-top-text {
		padding: 0 !important;
	}

	.btn--translate {
		top: unset;
	}

	.btn--en {
		left: 5.5rem;
	}

	.btn--dk {
		left: 8.5rem;
	}
	.btn--gr {
		left: 11.5rem;
	}

	.testimonials {
		flex-direction: column;
		justify-content: center;
	}

	.carousel--testimonials div {
		padding: 0;
	}

	.footer--contact > * {
		font-size: 0.9rem !important;
	}

	.footer--links div:nth-child(2) {
		padding-top: 3rem;
	}
}
